*{
  color: #114084;
}
h2,h4 ,.club-name,.ins-name{
  margin-left: 5%;
}
.club-name{
width: 9%;
border: 3px solid #114084;
}
.ins-name{
  width: 5%;
  border: 3px solid #114084;
  }

h3{
  text-align: center;
}
p{
  
  text-align: center;
}
.club-btns {
   margin-left: 20%;
    align-items: flex-start;
    margin-top: 32px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px

  }
  
  .club-btns .btns {
    background-color: #114084;
    color : #fff;
    margin: 6px;
    
  }
  .btns{
    justify-content: left;
  }
  
  